################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sample Programs/.vs/Sample Programs/v16/Server/sqlite3/db.lock
